{% extends 'base.html' %}

{% block content %}
    <div class="container mt-5">
        <div class="card">
            <h2 class="card-title mt-2 text-center">All User Detail</h2>
            <div class="card-body">
                <table class="table">
                    <tr>
                        <th>ID</th>
                        <th>Name</th>
                        <th>Username</th>
                        <th>Email</th>
                        <th>Address</th>
                        <th>City</th>
                        <th>State</th>
                        <th>Pin Code</th>
                        <th>Action</th>
                    </tr>
                    {% for foo in allUsers %}
                        <tr>
                            <th>{{ foo.id }}</th>
                            <td>{{ foo.first_name }} {{ foo.last_name }}</td>
                            <td>{{ foo.username }}</td>
                            <td>{{ foo.email }}</td>
                            <td>{{ foo.address }}</td>
                            <td>{{ foo.city }}</td>
                            <td>{{ foo.state }}</td>
                            <td>{{ foo.pin_code }}</td>
                            <td>
                                <a href="{% url 'user_detail_edit' foo.id %}" class="btn btn-warning btn-sm">Edit</a>
                                <a href="{% url 'delete_user' foo.id %}" class="btn btn-danger btn-sm">Delete</a>
                            </td>
                        </tr>
                    {% endfor %}

                </table>
            </div>
        </div>
    </div>
{% endblock %}